<!--
  Generated template for the TeamsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>teams</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <ion-item-group *ngFor="let division of teams">
      <ion-item-divider color="secondary">{{division.divisionName}}</ion-item-divider>
      <button ion-item *ngFor="let team of division.divisionTeams"  (click)="itemTapped($event, team)">
        {{team.name}}
      </button>
    </ion-item-group>
  </ion-list>

</ion-content>
