<ion-header>
  <ion-navbar color="primary">
    <ion-title>Game</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col width-50 text-center class="divider-col">
      <button ion-button clear full (click)="teamTapped(game.team1Id)">Home</button>
    </ion-col>
    <ion-col width-50 text-center>
      <button ion-button clear full (click)="teamTapped(game.team2Id)">Away</button>
    </ion-col>
  </ion-row>
  <ion-row center>
    <ion-col width-50 text-center class="divider-col" (click)="teamTapped(game.team1Id)">
      <h4>{{game.team1}}</h4>
    </ion-col>
    <ion-col width-50 text-center (click)="teamTapped(game.team2Id)">
      <h4>{{game.team2}}</h4>
    </ion-col>
  </ion-row>
  <ion-row baseline class="top-bottom-border">
    <ion-col text-center (click)="teamTapped(game.team1Id)">
      <!--<h1 [class.primary-color]="isWinner(game.team1Score, game.team2Score)">{{game.team1Score}}</h1>-->
      <h1 color="isWinner(game.team1Score, game.team2Score)">{{game.team1Score}}</h1>
    </ion-col>
    <ion-col text-center>
      <ion-label>Score</ion-label>
    </ion-col>
    <ion-col text-center (click)="teamTapped(game.team2Id)">
      <!--<h1 [class.primary-color]="isWinner(game.team2Score, game.team1Score)">{{game.team2Score}}</h1>-->
      <h1 color="isWinner(game.team2Score, game.team1Score)">{{game.team2Score}}</h1>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-item>
      <ion-icon name="calendar" item-left></ion-icon>
      {{game.gameTime | date:'M/d/yy'}} {{game.gameTime | date:'shortTime'}}
    </ion-item>
    <ion-row>
      <ion-col width-60>
        <ion-label>{{game.location}}</ion-label>
      </ion-col>
      <ion-col width-40 text-right>
        <button ion-button icon-only outline (click)="goToMap()">
          <ion-icon name="map"></ion-icon>
        </button>
        <button ion-button icon-only outline (click)="goToDirections()">
          <ion-icon name="navigate"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>

