<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button block style="height: 55px; border-radius: 15px" (click)="signout()">Sign Out</button>
</ion-content>
