<!--
  Generated template for the BarcodeScannerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button color="primary" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>barcode-scanner</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button full color="primary" (click)="scan()">Scan</button>
  <button ion-button full color="primary" (click)="reset()">Reset</button>

  <div *ngIf="results">
    <h2>Format: {{results.format}}</h2>
    <h2>Text: {{results.text}}</h2>

    <button ion-button full color="primary" (click)="lookup()">Lookup</button>
  </div>

</ion-content>
