

<ion-content class="login_background"  scroll="false" >

  <div style="width: 100%; height: 100%;top: 0px;
          left: 0px; position: absolute;
          margin-top: 85%;
          background-size: cover;
          background-position: center;
          background: white;
          opacity: .7; z-index: -1"></div>

  <div class="margin-top-85">
    <ion-list style="background: transparent;"   >
      <ion-item  style="background: transparent"  >
        <ion-label floating>Username</ion-label>
        <ion-input  type="text" [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item  style="background: transparent" >
        <ion-label floating>Password</ion-label>
        <ion-input   type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-list>

    <div padding  style="background: transparent">
      <button ion-button block style="height: 55px; border-radius: 15px" (click)="login()">Log In</button>
      <!--<ion-row >
        <ion-col col-6>
          <button ion-button color="dark" style="margin-left: -15px" clear>Register</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button color="dark" style="opacity: 0.5; margin-left: -15px" clear>Forgot Password?</button>
        </ion-col>
      </ion-row>-->
    </div>
  </div>


</ion-content>
