<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Elite Schedule</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>Navigate</ion-list-header>
      <button menuClose ion-item (click)="goHome()">Home</button>
      <button menuClose ion-item (click)="goToTournaments()">Find a Tournament</button>
      <button menuClose ion-item (click)="goToBarcodeScanner()">Barcode-Scanner</button>
    </ion-list>
    <ion-list>
      <ion-list-header>Favorites</ion-list-header>
      <button menuClose ion-item *ngFor="let fav of favoriteTeams" (click)="goToTeam(fav)">
        {{fav.team.name}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
